#errorLogin{
    color: red;
    overflow: hidden;
    border: 1px solid #d3d3d3;
    background: #fefefe83;
    width: 30%;
    margin: 5% auto 0;
    border-radius:5px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    border: 1px solid #000;
    text-align: center; 
}

#valido {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background-color: #00CC00;
    color: black;
}
#incompleto {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background-color: #FFFF00;
    color: black;
}
#invalido {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background-color: #FF0000;
    color: black;
}

#tablaresumen{
    text-align: center; 
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: rgb(175, 164, 164);
    color: black;

}

#container{

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);

}
#collapseda{
    overflow: hidden;
    border: 1px solid #d3d3d3;
    background: #fefefe;
    width: auto;
    margin: 5% auto 0;
    border-radius:5px;

}

#cerrar{
    position: fixed;
    right: 10%;
    box-shadow: 2px 2px 5px #999;
}
#collapsedff{
    overflow: hidden;
    border: 1px solid #d3d3d3;
    background: #fefefe;
    width: 85%;
    margin: 5% auto 0;
    border-radius:5px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    border: 1px solid #000;

}

#apartado{
    font-size:20px;
    background-color: #ffffcc;
    box-shadow: 2px 2px 5px #999;
}

#concepto{
    font-size:16px;
    text-decoration: underline;
    text-align: left; 
}

#aux{
   text-align: left; 
}

#titulousuario{
    color: white;

}
#tablesub{
    overflow: hidden;
    border: 1px solid #d3d3d3;
    background: #fefefe;
    width: 70%;
    margin: 5% auto 0;
    border-radius:5px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

#titulotabla {
    color: white;
    font-size: 40px;
}

#tablenosub {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size:12px;
    
    width: 1100px;
    margin: 0 auto;
    /*border: 1px solid #000;*/
}

#tablesub {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size:12px;
    
    width: 1100px;
    margin: 0 auto;  
  /*  border: 1px solid #000; */
}

h1{
    text-align: center;
    background-color: #FFCC66;
}

#main-header{
    background-color: rgb(01,48,104);
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 60%;
    margin: 0 auto;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #dddddd;
}
